<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="server.js"></script>
    <title>Marvel</title>

</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">
            <img src="avengers.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Marvelfanatic
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="Marvel.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-7">
                <!--add events-->
                <form id="eventform" action="http://127.0.0.1:8090" method="post">
                    <div class="col-6"><h2>Add new event</h2></div>
                    <div class="form-group">
                        <div class="col-4">
                            <label for="formGroupExampleInput">Enter an event code:</label>
                            <input type="text" class="form-control" id="code" placeholder="Event code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-4">
                            <label for="formGroupExampleInput">Enter event full title:</label>
                            <input type="text" class="form-control" id="name" placeholder="Event title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-4">
                            <label for="formGroupExampleInput">Enter event date:</label>
                            <input type="text" class="form-control" id="date" placeholder="Event date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-4">
                            <label for="formGroupExampleInput">Enter event location:</label>
                            <input type="text" class="form-control" id="location" placeholder="Event location">
                        </div>
                    </div>

                    <div class="col-4"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
                <br />
                <div id='eventresult'></div>
                <br />
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <!--search people-->
                        <h2>Search people</h2>
                        <form id="searchform" action="http://127.0.0.1:8090" method="get">
                            <div class="form-group">
                                <div class="col-4">
                                    <label for="formGroupExampleInput">Enter a username:</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-4"><button type="submit" class="btn btn-primary">Submit</button></div>
                        </form>
                        <br />
                        <div id='personresult'></div>
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <!--list people-->
                        <h2>List users</h2>
                        <form id="listform" action="http://127.0.0.1:8090" method="get">
                            <div class="col-4"><button type="submit" class="btn btn-primary">Submit</button></div>
                        </form>
                        <br />
                        <div id='peopleresult'></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function formhandler() {
            var code = $("#code").val();
            $.post("http://127.0.0.1:8090/newevent",
                {
                    code: $("#code").val(),
                    name: $("#name").val(),
                    date: $("#date").val(),
                    location: $("#location").val()
                },
                function (data) {
                    $('#eventresult').html(data);
                });
            return false;
        };

        $('#eventform').on('submit', formhandler);
    </script>

    <script>
        function formhandler() {
            var username = $("#username").val();
            $.get("http://127.0.0.1:8090/person", "username=" + username,
                function (data) {
                    $('#personresult').html(data);
                });
            return false;

        };

        $('#searchform').on('submit', formhandler);
    </script>

    <script>
        function formhandler() {
            $.get("http://127.0.0.1:8090/allpeople",
                function (data) {
                    $('#peopleresult').html(data);
                });
            return false;

        };

        $('#listform').on('submit', formhandler);
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>